/yarn.lock
/package-lock.json
node_modules
/lib
/test/fixtures/**/node_modules
/test/fixtures/**/dist
/test/fixtures/**/.umi
/test/fixtures/**/.umi-production
.idea/
.cache/
.umi/
.umi-production/
yarn.lock
.history
.vscode/
*.log
dist
.eslintcache
